@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./css-reset.css");

:root {
  /* colors */
  --bg-primary: rgba(255, 144, 14, 0.1);
  --bg-secondary: #ff900e;

  --txt-dark-1: #131313;
  --txt-dark-2: #424242;
  --txt-dark-3: #727272;
  --txt-light: #fff;
  --txt-accent: #ff900e;

  /* text size */
  --fs-h1: 4rem;
  --fs-h2: 2.813rem;
  --fs-h3: 1.563rem;
  --fs-p: 1rem;
  --fs-btn: 1.125rem;
  --fs-link: 1.25rem;

  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}
/* ###### UTILITY CLASSES ###### */
.ff-work-sans {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.h1 {
  font-size: var(--fs-h1);
  color: var(--txt-dark-1);
  font-weight: var(--fw-bold);
}
.h2 {
  font-size: var(--fs-h2);
  color: var(--txt-dark-1);
  font-weight: var(--fw-bold);
}
.h3 {
  font-size: var(--fs-h3);
  color: var(--txt-dark-1);
  font-weight: var(--fw-semibold);
}
.paragraph {
  font-size: var(--fs-p);
  color: var(--txt-dark-3);
}
.link {
  font-size: var(--fs-link);
  color: var(--txt-dark-2);
  text-decoration: none;
}
.btn-primary {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--txt-light);
  background-color: var(--bg-secondary);
  padding: 1.25rem 1.5rem;
  font-size: var(--fs-btn);
  font-weight: var(--fw-regular);
}
.bg-primary {
  background-color: var(--bg-primary);
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-center-h {
  justify-content: center;
}
.flex-center-v {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.margin-center {
  margin: 0 auto;
}

/* ###### HEADER ###### */
.header {
  padding: 3rem;
}
/* navigation */
.nav {
  justify-content: space-between;
  padding-bottom: 3rem;
}
.nav__list {
  list-style-type: none;
  gap: 1.5rem;
}

/* Hero */
.hero {
  gap: 1.5rem;
}
.hero__contents {
  gap: 1.5rem;
  /* margin: 0 auto; */
  text-align: center;
  max-width: 60ch;
}
/* ###### MAIN ###### */
/* teams */
.team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 5.5rem 18rem;
}
.team__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.team__img {
  width: 100%;
}

.team__contents {
  max-width: 60ch;
  align-items: flex-start;
  gap: 1.5rem;
}
.team__title--dim {
  color: var(--txt-dark-3);
  font-weight: var(--fw-medium);
}
.team__title--orange {
  color: var(--bg-secondary);
}

/* features */
.feature {
  position: relative;
  margin: 5rem 15rem;
}
.feature__contents {
  max-width: 50ch;
}
.feature__img {
  width: 100%;
}
.feature__btn {
  position: absolute;
  bottom: 0;
  left: 50%;
}
/* ###### FOOTER ###### */
